<div class="row list-header">
  <div class="col-lg-4">Equipment</div>
  <div class="col-lg-2">Model Number</div>
  <div class="col-lg-1">Location</div>
  <div class="col-lg-2">Category</div>
  <div class="col-lg-1">Type</div>
  <div class="col-lg-2">Replacement Date</div>
</div>
{% for equipment in equipment_objects %}
  <div class="row data-row alternate-row">
    <div class="col-lg-4">
      <a href="{% url 'equipment_detail' equipment.id %}">{{ equipment.name }}</a>
      {% if equipment.notes|length %}<i class="bi bi-chat-dots text-warning ps-1" title="{{ equipment.notes }}"></i>{% endif %}
    </div>
    <div class="col-lg-2">{{ equipment.model_number|default:"" }}</div>
    <div class="col-lg-1">
      <a href="{% url 'equipment_list' %}?l={{ equipment.location.id }}">{{ equipment.location }}</a>
    </div>
    <div class="col-lg-2">
      <a href="{% url 'equipment_list' %}?c={{ equipment.category.id }}">{{ equipment.category }}</a>
    </div>
    <div class="col-lg-1">
      <a href="{% url 'equipment_list' %}?t={{ equipment.equipment_type.id }}">{{ equipment.equipment_type }}</a>
    </div>
    <div class="col-lg-2">{{ equipment.replacement_date|date:"d/m/Y" }}</div>
  </div>
{% endfor %}
