{% load markdown_filters %}
<div class="row px-3 text-muted small">
  <div class="col-lg-2">Scheduled date</div>
  <div class="col-lg-2">Frequency</div>
  <div class="col-lg-8">Activity Description</div>
</div>
{% for schedule in schedules %}
  <div class="row px-3">
    <div class="col-lg-2">{{ schedule.schedule_date|date:"d/m/Y" }}</div>
    <div class="col-lg-2">{{ schedule.get_frequency_display }}</div>
    <div class="col-lg-8">{{ schedule.description|default:""|md_link }}</div>
  </div>
{% endfor %}
