{% extends "partials/object_list.html" %}
{% block page_title %}
  Category Management
{% endblock page_title %}
{% block new_object_url %}
  {% url 'category_create' %}
{% endblock new_object_url %}
{% block panel_heading_start %}
  <i class="bi bi-ui-checks-grid text-muted"></i> Categories
{% endblock panel_heading_start %}
{% block panel_content %}
  <div class="row pb-2 text-muted small fw-bold align-items-center">
    <div class="col">Name</div>
    <div class="col">Description</div>
    <div class="d-none col-lg-2 d-lg-block"></div>
  </div>
  {% for category in categories %}
    <div class="row align-items-center border-top py-2 {% if forloop.counter0|divisibleby:2 %}bg-light{% else %}bg-white{% endif %}">
      <div class="col text-muted fw-bold">
        <a href="{% url 'equipment_list' %}?c={{ category.id }}"
           title="List all '{{ category.name }}' equipment">{{ category.name }}</a>
      </div>
      <div class="col">{{ category.description|default:"" }}</div>
      <div class="d-none col-lg-2 d-lg-block justify-content-between text-end">
        {% if request.user.is_superuser %}
          <a href="{% url 'category_update' category.id %}" title="Update '{{ category.name }}'"><i class="bi bi-pencil-square"></i></a>
          <a href="{% url 'category_delete' category.id %}" title="Delete '{{ category.name }}'"><i class="bi bi-trash"></i></a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock panel_content %}
