{% extends "partials/object_list.html" %}
{% block page_title %}
  Company Management
{% endblock page_title %}
{% block new_object_url %}
  {% url 'company_create' %}
{% endblock new_object_url %}
{% block panel_heading_start %}
  <i class="bi bi-buildings text-muted"></i> Companies
  {% if query %}
    <i class="ps-3 small text-success">{{ query }}</i>
    <a href="{% url 'company_list' %}" title="Clear filter"><i class="bi bi-repeat small"></i></a>
  {% endif %}
{% endblock panel_heading_start %}
{% block panel_heading_center %}
  <form method="get" action="{% url 'company_list' %}">
    <input type="text"
           name="q"
           size="40"
           class="form-control form-control-sm"
           placeholder="Search companies..."
           onfocus="this.select();"
           value="{{ request.GET.q }}">
    <button type="submit" class="d-none">Search</button>
  </form>
{% endblock panel_heading_center %}
{% block panel_content %}
  <div class="row pb-2 text-muted small fw-bold align-items-center">
    <div class="col col-lg-2">Name</div>
    <div class="col col-lg-1">Phone</div>
    <div class="col col-lg-2">Email</div>
    <div class="d-none d-lg-block col-lg-3">Website</div>
    <div class="col col-lg-3">Notes</div>
  </div>
  {% for company in companies %}
    <div class="row align-items-center border-top py-2 {% if forloop.counter0|divisibleby:2 %}bg-light{% else %}bg-white{% endif %}">
      <div class="col col-lg-2 fw-bold text-muted">{{ company.name }}</div>
      <div class="col col-lg-1">{{ company.phone |default:"" }}</div>
      <div class="col col-lg-2 small">{{ company.email |default:"" }}</div>
      <div class="d-none d-lg-block col-lg-3 small">
        {% if company.website %}
          <a href="{{ company.website }}" target="_blank">{{ company.website|truncatechars:45 }}</a>
        {% endif %}
      </div>
      <div class="d-none d-lg-block col-lg-3 small">{{ company.notes|truncatewords:10 }}</div>
      <div class="d-none d-lg-block col-lg-1 justify-content-between align-items-center text-end">
        {% if request.user.is_superuser %}
          <a href="{% url 'company_update' company.id %}" title="Update '{{ company.name }}'"><i class="bi bi-pencil-square"></i></a>
          <a href="{% url 'company_delete' company.id %}" title="Delete '{{ company.name }}'"><i class="bi bi-trash"></i></a>
        {% endif %}
        <a href="{% url 'equipment_list' %}?m={{ company.id }}"><i class="bi bi-card-list" title="List all '{{ company.name }}' equipment"></i></a>
        <a href="{% url 'equipment_list' %}?sp={{ company.id }}"><i class="bi bi-wrench-adjustable" title="List all equipment serviced by '{{ company.name }}'"></i></a>
      </div>
    </div>
  {% endfor %}
  {% include "partials/pagination.html" %}
{% endblock panel_content %}
