{% extends "base.html" %}
{% block page_title %}
  Equipment detail - {{ equipment.name }}
{% endblock page_title %}
{% block content %}
  {# equipment details #}
  <div class="panel">
    <div class="panel-heading d-flex justify-content-between align-items-center pe-2">
      <h5 class="panel-title text-primary">
        <i class="bi bi-plugin"></i> {{ equipment.name }}
      </h5>
      <span class="fw-bold small text-info">
        <a href="{% url 'equipment_list' %}?s={{ equipment.status.id }}">{{ equipment.status }}</a>
      </span>
      <div class="panel-actions">
        <a href="{% url 'equipment_update' equipment.id %}?next={{ request.path }}"><i class="bi bi-pencil-square"></i></a>
        {% if request.user.is_superuser %}
          <a href="{% url 'equipment_delete' equipment.id %}"><i class="bi bi-trash"></i></a>
        {% endif %}
      </div>
    </div>
    <div class="panel-content">
      <div class="row">
        <div class="col-6 col-lg-2 mb-3">
          <span class="text-muted small d-block">Manufacturer</span>
          <span class="text-primary"><a href="{% url 'equipment_list' %}?m={{ equipment.manufacturer.id }}">{{ equipment.manufacturer }}</a></span>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <span class="text-muted small d-block">Model number</span>
          <span class="text-primary">{{ equipment.model_number }}</span>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <span class="text-muted small d-block">Serial number</span>
          <span class="text-primary">{{ equipment.serial_number }}</span>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <span class="text-muted small d-block" title="Medical Inventory Number">Inventory number</span>
          <span class="text-primary">{{ equipment.inventory_number|default:"" }}</span>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <span class="text-muted small d-block">Value (£)</span>
          <span class="text-primary">{{ equipment.value|default:"" }}</span>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <span class="text-muted small d-block">Calibration</span>
          <span class="text-primary {% if equipment.calibration.name == 'UKAS' %}text-danger fw-bold{% endif %}">{{ equipment.calibration.name }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-2 mb-3">
          <span class="text-muted small d-block">Category</span>
          <span class="text-primary"><a href="{% url 'equipment_list' %}?c={{ equipment.category.id }}">{{ equipment.category }}</a></span>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <span class="text-muted small d-block">Equipment type</span>
          <span class="text-primary"><a href="{% url 'equipment_list' %}?t={{ equipment.equipment_type.id }}">{{ equipment.equipment_type }}</a></span>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <span class="text-muted small d-block">Location</span>
          <span class="text-primary"><a href="{% url 'equipment_list' %}?l={{ equipment.location.id }}">{{ equipment.location }}</a></span>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-6 col-lg-2 mb-3">
          <span class="text-muted small d-block">Received date</span>
          <span class="text-primary">{{ equipment.received_date|date:"d/m/Y" }}</span>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <span class="text-muted small d-block" title="Medical Inventory Number">Commission date</span>
          <span class="text-primary">{{ equipment.commission_date|date:"d/m/Y" }}</span>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <span class="text-muted small d-block">Replacement date</span>
          <span class="text-primary">{{ equipment.replacement_date|date:"d/m/Y" }}</span>
        </div>
        <div class="col-6 col-lg-2 mb-2">
          <span class="text-muted small d-block">Warranty end</span>
          <span class="text-primary">{{ equipment.warranty_end|date:"d/m/Y"|default:"&nbsp;" }}</span>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-6 col-lg-2 mb-2">
          <span class="text-muted small d-block">Serviced by</span>
          <span class="text-primary"><a href="{% url 'equipment_list' %}?sp={{ equipment.service_provider.id }}">{{ equipment.service_provider|default:"" }}</a></span>
        </div>
        <div class="col-6 col-lg-2 mb-2">
          <span class="text-muted small d-block">Last serviced</span>
          <span class="text-primary">{{ equipment.last_serviced|date:"d/m/Y"|default:"&nbsp;" }}</span>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-12 mb-2">
          <span class="text-muted small d-block">Notes</span>
          <span class="text-primary">{{ equipment.notes|default:"&nbsp;" }}</span>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-12 text-end small text-muted">
          {% if equipment.last_updated_at %}
            <i class="small">last updated: {{ equipment.last_updated_at|date:"d/m/Y H:i" }}</i>
          {% else %}
            <i class="small">created: {{ equipment.created_at|date:"d/m/Y H:i" }}</i>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {# equipment documents #}
  <div class="panel">
    <div class="panel-heading d-flex justify-content-between align-items-center pe-2">
      <span class="text-primary"><i class="bi bi-folder"></i> Equipment documents <span class="text-muted small">(documents related to equipment records shoud be attached to the corresponding records)</span></span>
      <a hx-get="{% url 'equipment_attachment_upload' equipment.id %}"
         hx-trigger="click"
         hx-target="#modal-box .modal-content"
         hx-swap="innerHTML"
         data-bs-toggle="modal"
         data-bs-target="#modal-box"
         href="javascript:"><i class="bi bi-file-earmark-arrow-up"></i></a>
    </div>
    <div class="panel-content">
      {% if attachments|length %}
        {% for file in attachments %}
          <div class="row pb-2">
            <div class="d-none d-lg-block col-lg-1">
              <span class="text-muted small">{{ file.uploaded_at|date:"d/m/Y" }}</span>
            </div>
            <div class="d-none d-lg-block col-lg-1">
              {% if file.filetype %}
                <i class="bi bi-filetype-{{ file.filetype }} text-danger"></i>
              {% else %}
                <i class="bi bi-file-earmark text-danger"></i>
              {% endif %}
              <i class="text-muted small">{{ file.file.size|filesizeformat }}</i>
            </div>
            <div class="col-6 col-lg-9">
              <span class="pe-3"><a href="{{ file.file.url }}">{{ file.name }}</a></span>
              <span class="text-primary">{{ file.description|default:"" }}</span>
            </div>
            <div class="d-none d-lg-block col-lg-1 text-end">
              <a hx-get="{% url 'equipment_attachment_update' file.id %}"
                 hx-trigger="click"
                 hx-target="#modal-box .modal-content"
                 hx-swap="innerHTML"
                 data-bs-toggle="modal"
                 data-bs-target="#modal-box"
                 href="javascript:"><i class="bi bi-pencil-square"></i></a>
              <a hx-get="{% url 'equipment_attachment_delete' file.id %}"
                 hx-trigger="click"
                 hx-target="#modal-box .modal-content"
                 hx-swap="innerHTML"
                 data-bs-toggle="modal"
                 data-bs-target="#modal-box"
                 href="javascript:"><i class="bi bi-trash"></i></a>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  {# equipment records #}
  <div class="panel">
    <div class="panel-heading d-flex justify-content-between align-items-center pe-2">
      <span class="text-primary"><i class="bi bi-calendar3"></i> Equipment records</span>
      <a href="{% url 'equipmentrecord_create' equipment.id %}" title="Add a new record"><i class="bi bi-plus-circle"></i></a>
    </div>
    <div class="panel-content pb-5">
      {% for record in equipment.equipmentrecord_set.all %}
        <div class="row align-items-center py-2 g-0 border-bottom {% if not forloop.counter0|divisibleby:2 %}bg-light{% else %}bg-white{% endif %}">
          <div class="col-6 col-lg-1 ps-2">
            <a href="{% url 'equipmentrecord_detail' record.id %}"><i class="bi bi-caret-right-fill"></i> {{ record.date|date:'d/m/Y' }}</a>
          </div>
          <div class="col-6 col-lg-2 text-muted fw-bold">{{ record.record_type }}</div>
          <div class="d-none d-lg-block col-lg-9 small">
            {% if record.has_attachment %}<i class="bi bi-paperclip text-danger" title="Has attachment(s)"></i>{% endif %}
            <span class="text-primary">{{ record.description|truncatewords:25 }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
{% block modals %}
  <div class="modal fade" id="modal-box" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- HTMX rendered content -->
      </div>
    </div>
  </div>
{% endblock modals %}
