{% extends "base.html" %}
{% block content %}
  <div class="panel">
    <div class="panel-heading d-flex justify-content-between align-items-center pe-2">
      <h5 class="panel-title text-primary">
        <i class="bi bi-plugin"></i> {{ equipment.name }}
      </h5>
      <span class="fw-bold small text-info">{{ equipment.status }}</span>
      <div class="panel-actions">
        <a href="{% url 'equipment_update' equipment.id %}"><i class="bi bi-pencil-square"></i></a>
        <a href="{% url 'equipment_delete' equipment.id %}"><i class="bi bi-trash"></i></a>
      </div>
    </div>
    <div class="panel-content">
      <div class="row pb-2">
        <div class="col-12 col-lg-3">
          <span class="text-muted small pe-2">Manufacturer:</span> {{ equipment.manufacturer }}
        </div>
        <div class="col-12 col-lg-3">
          <span class="text-muted small pe-2">Model:</span> {{ equipment.model_number }}
        </div>
        <div class="col-12 col-lg-3">
          <span class="text-muted small pe-2">Serial:</span> {{ equipment.serial_number }}
        </div>
        <div class="col-12 col-lg-3">
          <span class="text-muted small pe-2" title="Medical Inventory Number">Inventory:</span> {{ equipment.inventory_number }}
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-12 col-lg-3">
          <span class="text-muted small pe-2">Category:</span> {{ equipment.category }}
        </div>
        <div class="col-12 col-lg-3">
          <span class="text-muted small pe-2">Location:</span> {{ equipment.location }}
        </div>
        <div class="col-12 col-lg-3">
          <span class="text-muted small pe-2">Porcured:</span> {{ equipment.porcurement_date|date:"d/m/Y" }}
        </div>
        <div class="col-12 col-lg-3">
          <span class="text-muted small pe-2" title="Medical Inventory Number">Commissioned:</span> {{ equipment.commission_date|date:"d/m/Y" }}
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-12 col-lg-3">
          <span class="text-muted small pe-2">Warranty End:</span> {{ equipment.warranty_end|date:"d/m/Y" }}
        </div>
        <div class="col-12 col-lg-3">
          <span class="text-muted small pe-2">Serviced By:</span> {{ equipment.service_provider }}
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading d-flex justify-content-between align-items-center pe-2">
      <span class="text-primary"><i class="bi bi-journal-text"></i> Equipment Records</span>
      <a href="{% url 'equipment_record_create' equipment.id %}" class="btn btn-sm btn-outline-success"><i class="bi bi-plus-circle"></i> New</a>
    </div>
    <div class="panel-content">
      {% for record in equipment.equipmentrecord_set.all %}
        <p>
          {{ record.date|date:'d/m/Y' }} - {{ record.record_type }} - {{ record.description }} <a href="{% url 'equipment_record_update' record.id %}">Edit</a> - <a href="{% url 'equipment_record_delete' record.id %}">Delete</a>
        </p>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
