{% extends "base.html" %}
{% block page_title %}
  Equipment detail - {{ equipment.name }}
{% endblock page_title %}
{% block content %}
  {# equipment details #}
  <div class="panel">
    <div class="panel-heading d-flex justify-content-between align-items-center pe-2">
      <h5 class="panel-title text-primary">
        <i class="bi bi-plugin"></i> {{ equipment.name }}
      </h5>
      <span class="fw-bold small text-info">{{ equipment.status }}</span>
      <div class="panel-actions">
        <a href="{% url 'equipment_update' equipment.id %}"><i class="bi bi-pencil-square"></i></a>
        <a href="{% url 'equipment_delete' equipment.id %}"><i class="bi bi-trash"></i></a>
      </div>
    </div>
    <div class="panel-content">
      <div class="row pb-2">
        <div class="col-12 col-lg-3">
          <span class="text-muted small pe-2">Manufacturer:</span> {{ equipment.manufacturer }}
        </div>
        <div class="col-12 col-lg-3">
          <span class="text-muted small pe-2">Model:</span> {{ equipment.model_number }}
        </div>
        <div class="col-12 col-lg-3">
          <span class="text-muted small pe-2">Serial:</span> {{ equipment.serial_number }}
        </div>
        <div class="col-12 col-lg-3">
          <span class="text-muted small pe-2" title="Medical Inventory Number">Inventory:</span> {{ equipment.inventory_number|default:"" }}
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-12 col-lg-3">
          <span class="text-muted small pe-2">Category:</span> {{ equipment.category }}
        </div>
        <div class="col-12 col-lg-3">
          <span class="text-muted small pe-2">Location:</span> {{ equipment.location }}
        </div>
        <div class="col-12 col-lg-3">
          <span class="text-muted small pe-2">Porcured:</span> {{ equipment.porcurement_date|date:"d/m/Y" }}
        </div>
        <div class="col-12 col-lg-3">
          <span class="text-muted small pe-2" title="Medical Inventory Number">Commissioned:</span> {{ equipment.commission_date|date:"d/m/Y" }}
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-12 col-lg-3">
          <span class="text-muted small pe-2">Warranty End:</span> {{ equipment.warranty_end|date:"d/m/Y" }}
        </div>
        <div class="col-12 col-lg-3">
          <span class="text-muted small pe-2">Serviced By:</span> {{ equipment.service_provider }}
        </div>
      </div>
    </div>
  </div>
  {# equipment documents #}
  <div class="panel">
    <div class="panel-heading d-flex justify-content-between align-items-center pe-2">
      <span class="text-primary"><i class="bi bi-folder"></i> Equipment documents <span class="text-muted small">(documents related to equipment records shoud be attached to the corresponding records)</span></span>
      <a hx-get="{% url 'equipment_attachment_upload' equipment.id %}"
         hx-trigger="click"
         hx-target="#modal-box .modal-content"
         hx-swap="innerHTML"
         data-bs-toggle="modal"
         data-bs-target="#modal-box"
         href="javascript:"><i class="bi bi-file-earmark-arrow-up"></i></a>
    </div>
    <div class="panel-content">
      {% if attachments|length %}
        {% for file in attachments %}
          <p>
            {% if file.filetype %}
              <i class="bi bi-filetype-{{ file.filetype }} text-warning"></i>
            {% else %}
              <i class="bi bi-file-earmark text-warning"></i>
            {% endif %}
            <a href="{{ file.file.url }}">{{ file.name }}</a> - {{ file.description }}
            <a hx-get="{% url 'equipment_attachment_update' file.id %}"
               hx-trigger="click"
               hx-target="#modal-box .modal-content"
               hx-swap="innerHTML"
               data-bs-toggle="modal"
               data-bs-target="#modal-box"
               href="javascript:"><i class="bi bi-pencil-square"></i></a>
            <a hx-get="{% url 'equipment_attachment_delete' file.id %}"
               hx-trigger="click"
               hx-target="#modal-box .modal-content"
               hx-swap="innerHTML"
               data-bs-toggle="modal"
               data-bs-target="#modal-box"
               href="javascript:"><i class="bi bi-trash"></i></a>
          </p>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  {# equipment records #}
  <div class="panel">
    <div class="panel-heading d-flex justify-content-between align-items-center pe-2">
      <span class="text-primary"><i class="bi bi-calendar3"></i> Equipment records</span>
      <a href="{% url 'equipmentrecord_create' equipment.id %}" title="Add a new record"><i class="bi bi-plus-circle"></i></a>
    </div>
    <div class="panel-content">
      {% for record in equipment.equipmentrecord_set.all %}
        <div class="row">
          <div class="col-6 col-lg-1">
            <a href="{% url 'equipmentrecord_detail' record.id %}">{{ record.date|date:'d/m/Y' }}</a>
          </div>
          <div class="col-6 col-lg-1 text-muted fw-bold small">{{ record.record_type }}</div>
          <div class="d-none d-lg-block col-lg-8">
            <span>{{ record.description|truncatewords:25 }}</span>            
          </div>
          <div class="d-none d-lg-block col-lg-2 text-center">
            <a href="{% url 'equipmentrecord_update' record.id %}"><i class="bi bi-pencil-square"></i></a>
              <a href="{% url 'equipmentrecord_delete' record.id %}"><i class="bi bi-trash"></i></a>
            <span>
              {% if record.has_attachment %}<i class="bi bi-paperclip text-warning"></i>{% endif %}
            </span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
{% block modals %}
  <div class="modal fade" id="modal-box" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- HTMX rendered content -->
      </div>
    </div>
  </div>
{% endblock modals %}
