{% extends "partials/object_list.html" %}
{% block page_title %}
  Location Management
{% endblock page_title %}
{% block new_object_url %}
  {% url 'location_create' %}
{% endblock new_object_url %}
{% block panel_heading_start %}
  <i class="bi bi-geo-alt-fill text-muted"></i> Locations
{% endblock panel_heading_start %}
{% block panel_content %}
  <div class="row pb-2 text-muted small fw-bold align-items-center">
    <div class="col">Name</div>
    <div class="col">Description</div>
    <div class="d-none col-lg-2 d-lg-block"></div>
  </div>
  {% for location in locations %}
    <div class="row align-items-center border-top py-2 {% if forloop.counter0|divisibleby:2 %}bg-light{% else %}bg-white{% endif %}">
      <div class="col text-muted fw-bold">{{ location.name }}</div>
      <div class="col">{{ location.description|default:"" }}</div>
      <div class="d-none col-lg-2 d-lg-block justify-content-between text-end">
        {% if request.user.is_superuser %}
          <a href="{% url 'location_update' location.id %}" title="Update '{{ location.name }}'"><i class="bi bi-pencil-square"></i></a>
          <a href="{% url 'location_delete' location.id %}" title="Delete '{{ location.name }}'"><i class="bi bi-trash"></i></a>
        {% endif %}
        <a href="{% url 'equipment_list' %}?l={{ location.id }}"><i class="bi bi-card-list" title="List all '{{ location.name }}' equipment"></i></a>
      </div>
    </div>
  {% endfor %}
{% endblock panel_content %}
