{% extends "partials/object_list.html" %}
{% block page_title %}
  Location Management
{% endblock page_title %}
{% block new_object_url %}
  {% url 'location_create' %}
{% endblock new_object_url %}
{% block panel_heading %}
  <i class="bi bi-geo-alt-fill text-muted"></i> Location List
{% endblock panel_heading %}
{% block panel_content %}
  <div class="row pb-2 text-muted small fw-bold">
    <div class="col">Name</div>
    <div class="col">Description</div>
    <div class="d-none col-lg-3 d-lg-block">Actions</div>
  </div>
  {% for location in locations %}
    <div class="row">
      <div class="col text-primary fw-bold pb-2">{{ location.name }}</div>
      <div class="col">{{ location.description }}</div>
      <div class="d-none col-lg-3 d-lg-block justify-content-between align-items-center">
        <a href="{% url 'location_update' location.id %}" title="Update '{{ location.name }}'"><i class="bi bi-pencil-square"></i></a>
        <a href="{% url 'location_delete' location.id %}" title="Delete '{{ location.name }}'"><i class="bi bi-trash"></i></a>
        <a href="#"><i class="bi bi-card-list" title="List all '{{ location.name }}' equipment"></i></a>
      </div>
    </div>
  {% endfor %}
{% endblock panel_content %}
