{% extends "partials/asset/maintenance_howto_base.html" %}
{% block content %}
  <div class="panel">
    <div class="panel-heading">
      <h5>Fortnightly Maintenance*</h5>
    </div>
    <div class="panel-content">      
      <ul>
        <li>
          Clean the sample probe
          <a href="https://www.youtube.com/watch?v=1enA2Nbw548" target="_blank" class="ps-3"> <i class="bi bi-play-circle-fill text-danger"></i> watch on Youtube
          </a>
        </li>
        <li>
          Run Calibration
          <a href="https://youtu.be/IlRnWgftRI0?t=270" target="_blank" class="ps-3"> <i class="bi bi-play-circle-fill text-danger"></i> watch on Youtube
          </a>
        </li>
        <li>Perform Weekly Maintenance routine</li>
        <li>
          Perform Clog Removal/Strigent Clean
          <a href="https://www.youtube.com/watch?v=fj8wYKgVHeI" target="_blank" class="ps-3"> <i class="bi bi-play-circle-fill text-danger"></i> watch on Youtube
          </a>
        </li>
      </ul>
      <p class="small text-muted">
        * The above are weekly maintenance tasks recommended by the manufacturer. However they only need to be done fortnightly, as the machines are used alternately.
      </p>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">
      <h5>Other Tasks (when necessary)</h5>
    </div>
    <div class="panel-content">
      <ul>
        <li>
          Probe Height Adjustment
          <a href="https://www.youtube.com/watch?v=hT4poU00A34" target="_blank" class="ps-3"> <i class="bi bi-play-circle-fill text-danger"></i> watch on Youtube</a>
          </li>
        </ul>
      </div>
    </div>
  {% endblock content %}
  Probe height adjustment
