{% extends "partials/object_list.html" %}
{% load markdown_filters %}
{% block page_title %}
  Maintenance Records
{% endblock page_title %}
{% block new_object_url %}
  {% url 'maintenance_record_create' equipment_type.slug %}
{% endblock new_object_url %}
{% block panel_heading_start %}
  <i class="bi bi-gear-wide-connected text-success"></i> Maintenance Records - <i class="text-danger fw-bold">{{ equipment_type }}</i>
{% endblock panel_heading_start %}
{% block panel_content %}
  <div class="row pb-2 text-muted small fw-bold align-items-center">
    <div class="col-lg-1">Date</div>
    <div class="col-lg-2">Equipment</div>
    <div class="col-lg-4">Maintenance</div>
    <div class="col-lg-3">Comments</div>
    <div class="col-lg-1">User</div>
    <div class="col-lg-1"></div>
  </div>
  {% for record in object_list %}
    <div class="row align-items-center border-top py-2 alternate-row">
      <div class="col-lg-1">{{ record.date|date:"d/m/Y" }}</div>
      <div class="col-lg-2">
        <a href="{% url 'equipment_detail' record.equipment.pk %}">{{ record.equipment.name }}</a>
      </div>
      <div class="col-lg-4">
        {% for task in record.maintenance.all %}
          <i class="px-2 small"
             style="color: {{ task.task.get_font_color }};
                    background-color: {{ task.task.color }};
                    border-radius:.3rem">{{ task.task.name }}</i>
        {% endfor %}
      </div>
      <div class="col-lg-3">{{ record.comments }}</div>
      <div class="col-lg-1" title="{{ record.created_at }}">{{ record.created_by }}</div>
      <div class="d-none col-lg-1 d-lg-block justify-content-between text-end">
        <a href="{% url 'maintenance_record_update' pk=record.pk slug=record.equipment.equipment_type.slug %}"
           title="Update '{{ record }}'"><i class="bi bi-pencil-square"></i></a>
        <a href="{% url 'maintenance_record_delete' pk=record.pk slug=record.equipment.equipment_type.slug %}"
           title="Delete '{{ record }}'"><i class="bi bi-trash"></i></a>
      </div>
    </div>
  {% endfor %}
  {% include "partials/pagination.html" %}
{% endblock panel_content %}
