{% extends "partials/asset/maintenance_howto_base.html" %}
{% block content %}
<div class="panel">
  <div class="panel-heading">
    <h5>Waste</h5>
  </div>
  <div class="panel-content">
    <i class="bi bi-droplet-half text-primary"></i> Check and empty the waste container.
  </div>
</div>
  <div class="panel">
    <div class="panel-heading">
      <h5>Startup</h5>
    </div>
    <div class="panel-content">
      <ul>
        <li>
          Perform Startup Routine
          <a href="https://youtu.be/IlRnWgftRI0?t=11" target="_blank" class="ps-3">
            <i class="bi bi-play-circle-fill text-danger"></i> watch on Youtube</a>
          <ul>
            <li>Warm up lasers (30 minutes)</li>
            <li>Perform Fluidics Prep routine</li>
            <li>Performance Verification routine</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">
      <h5>Shutdown</h5>
    </div>
    <div class="panel-content">
      <ul>
        <li>
          Perform Shutdown Routine <a href="https://youtu.be/lXjBHHqs-KI?t=48" target="_blank" class="ps-3">
          <i class="bi bi-play-circle-fill text-danger"></i> watch on Youtube</a>
        <ul>
          <li>Sanitise</li>
          <li>Wash x 2</li>
          <li>Soak</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
{% endblock content %}
