{% extends "partials/object_form.html" %}
{% block title_object_name %}
  Maintenance Task
{% endblock title_object_name %}
{% block heading_object_name %}
  <i class="bi bi-wrench-adjustable-circle text-success"></i>
  {% if form.instance.pk %}
    Update maintenance task: <i class="text-danger">{{ form.instance.name }}</i>
  {% else %}
    New maintenance task
  {% endif %}
{% endblock heading_object_name %}
{% block object_form %}
  <div class="row">
    <div class="mb-3 col-5">
      <label class="form-label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
      {{ form.name }}
      {% if form.name.errors %}<div class="text-danger">{{ form.name.errors }}</div>{% endif %}
    </div>
    <div class="mb-3 col-5">
      <label class="form-label" for="{{ form.equipment_type.id_for_label }}">{{ form.equipment_type.label }}</label>
      {{ form.equipment_type }}
      {% if form.equipment_type.errors %}<div class="text-danger">{{ form.equipment_type.errors }}</div>{% endif %}
    </div>
    <div class="mb-3 col-2">
      <label class="form-label" for="{{ form.color.id_for_label }}">{{ form.color.label }}</label>
      {{ form.color }}
      {% if form.color.errors %}<div class="text-danger">{{ form.color.errors }}</div>{% endif %}
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col">
      <label class="form-label" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
      {{ form.description }}
      {% if form.description.errors %}<div class="text-danger">{{ form.description.errors }}</div>{% endif %}
    </div>
  </div>
{% endblock object_form %}
