{% extends "partials/object_list.html" %}
{% load markdown_filters %}
{% block page_title %}
  Maintenance Task Management
{% endblock page_title %}
{% block new_object_url %}
  {% url 'maintenance_task_create' %}
{% endblock new_object_url %}
{% block panel_heading_start %}
  <i class="bi bi-wrench-adjustable-circle text-success"></i> Maintenance Tasks
  {% if query %}
    <a href="{% url 'maintenance_task_list' %}" title="Clear filter"><i class="ps-2 text-danger">{{ query }}</i><i class="bi bi-x"></i></a>
  {% endif %}
{% endblock panel_heading_start %}
{% block panel_content %}
  <div class="row list-header">
    <div class="col-2">Name</div>
    <div class="col-1">Colour</div>
    <div class="col-2">Equipment Type</div>
    <div class="col-5">Description</div>
    <div class="d-none col-lg-2 d-lg-block"></div>
  </div>
  {% for task in object_list %}
    <div class="row data-row alternate-row align-items-center">
      <div class="col-2 fw-semibold text-muted">{{ task.name }}</div>
      <div class="col-1">
        <div class="d-inline-block" style="width: 1em; height: 1em; background-color: {{ task.color }}; border-radius:.2em;"></div>
      </div>
      <div class="col-2">
        <a href="{% url 'maintenance_task_list' %}?t={{ task.equipment_type.id }}">{{ task.equipment_type.name }}</a>
      </div>
      <div class="col-5">{{ task.description|default:""|md_link }}</div>
      <div class="d-none col-lg-2 d-lg-block text-end">
        {% if request.user.is_superuser %}
          <a href="{% url 'maintenance_task_update' task.id %}" title="Update '{{ task.name }}'"><i class="bi bi-pencil-square"></i></a>
          <a href="{% url 'maintenance_task_delete' task.id %}" title="Delete '{{ task.name }}'"><i class="bi bi-trash"></i></a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  {% include "partials/pagination.html" %}
{% endblock panel_content %}
