{% extends "partials/asset/maintenance_howto_base.html" %}
{% block content %}
  <div class="panel">
    <div class="panel-heading">
      <h5>Monthly</h5>
    </div>
    <div class="panel-content">
      <ul>
        <li>
          Clean exterior surfaces by wiping with:
          <ul>
            <li>Mild detergent</li>
            <li>10-20% bleach</li>
            <li>De-ionised water</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">
      <h5>Semi-annually</h5>
    </div>
    <div class="panel-content">
      <ul>
        <li>
          Replace the syringe Teflon seals
          <a href="https://www.youtube.com/watch?v=J8ZcQRnmhso" target="_blank" class="ps-3"> <i class="bi bi-play-circle-fill text-danger"></i> watch it on Youtube
          </a>
        </li>
        <li>
          Replace the HEPA air filter
          <a href="https://www.youtube.com/watch?v=o0EChVajVnk" target="_blank" class="ps-3"> <i class="bi bi-play-circle-fill text-danger"></i> watch on Youtube
          </a>
        </li>
        <li>
          Clean the ventilation filters
          <a href="https://www.youtube.com/watch?v=mok0mcq6DTU" target="_blank" class="ps-3"> <i class="bi bi-play-circle-fill text-danger"></i> watch on Youtube
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">
      <h5>Annually</h5>
    </div>
    <div class="panel-content">
      <ul>
        <li>Replace the sheath filter
          <a href="https://www.youtube.com/watch?v=rzPB1XJElf0" target="_blank" class="ps-3"> <i class="bi bi-play-circle-fill text-danger"></i> watch it on Youtube
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock content %}
