{% extends "partials/object_list.html" %}
{% block page_title %}
  Scheduled Task Management
{% endblock page_title %}
{% block extra_css %}
  <style>
    .highlighted { 
      animation: highlight-fade 3s ease-out; 
      border-radius: .5rem;
    }
    @keyframes highlight-fade {
        0%   { background-color: #fff999; }
        100% { background-color: transparent;}
    }
  </style>
{% endblock extra_css %}
{% block new_object_url %}
  {% url 'schedule_create' %}
{% endblock new_object_url %}
{% block panel_heading_start %}
  <i class="bi bi-calendar-week text-danger"></i> Scheduled Tasks<i class="ps-lg-3 d-none d-lg-inline small text-muted">&lt; 4 week old and upcoming tasks</i>
{% endblock panel_heading_start %}
{% block panel_heading_center %}
  <form method="get" action="{% url 'schedule_list' %}">
    <input type="text"
           name="q"
           size="40"
           class="form-control form-control-sm"
           placeholder="Search tasks..."
           onfocus="this.select();"
           value="{{ request.GET.q }}">
    <button type="submit" class="d-none">Search</button>
  </form>
{% endblock panel_heading_center %}
{% block panel_content %}
  <div class="row pb-2 text-muted small fw-bold align-items-center">
    <div class="col-lg-1 d-none d-lg-block">Schedule Date</div>
    <div class="col-lg-1">Frequency</div>
    <div class="col-lg-2 d-none d-lg-block">
      Status <i class="ps-2 bi bi-toggle2-off text-danger" id="showall" title="Show/Hide none active schedules"></i>
    </div>
    <div class="col-lg-6 d-none d-lg-block">Activity Description</div>
    <div class="col-lg-2 d-none d-lg-block"></div>
  </div>
  {% for schedule in schedules %}
    {% include "partials/asset/schedule_item.html" with schedule=schedule %}
  {% endfor %}
  {% include "partials/pagination.html" %}
{% endblock panel_content %}
