{% extends "partials/object_list.html" %}
{% block page_title %}
  Schedule Management
{% endblock page_title %}
{% block extra_css %}
  <style>
  .highlighted {
      animation: highlight-fade 2s ease-out;
  }
  @keyframes highlight-fade {
      0% {
          background-color: #ffff99; /* Light yellow */
      }
      100% {
          background-color: transparent;
      }
  }

  .alt-row:nth-child(even) {
    background-color: #f8f9fa; /* bg-light */
}

.alt-row:nth-child(odd) {
    background-color: #ffffff; /* bg-white */
}
  </style>
{% endblock extra_css %}
{% block new_object_url %}
  {% url 'schedule_create' %}
{% endblock new_object_url %}
{% block panel_heading_start %}
  <i class="bi bi-calendar-week text-danger"></i> Schedules <i class="ps-lg-3 d-none d-lg-inline small text-muted">&lt; 4 week old and upcoming schedules</i>
{% endblock panel_heading_start %}
{% block panel_content %}
  <div class="row pb-2 text-muted small fw-bold align-items-center">
    <div class="col-lg-1 d-none d-lg-block">Schedule Date</div>
    <div class="col-lg-1">Frequency</div>
    <div class="col-lg-2 d-none d-lg-block">
      Status <i class="ps-2 bi bi-toggle2-off text-danger" id="showall" title="Show/Hide none active schedules"></i>
    </div>
    <div class="col-lg-6 d-none d-lg-block">Activity Description</div>
    <div class="col-lg-2 d-none d-lg-block"></div>
  </div>
  {% for schedule in schedules %}
    {% include "partials/asset/schedule_item.html" with schedule=schedule %}
  {% endfor %}
{% endblock panel_content %}
