{% extends "partials/object_list.html" %}
{% block page_title %}
  Status Management
{% endblock page_title %}
{% block new_object_url %}
  {% url 'status_create' %}
{% endblock new_object_url %}
{% block panel_heading_start %}
  <i class="bi bi-diamond-half text-muted"></i> Status List
{% endblock panel_heading_start %}
{% block panel_content %}
  <div class="row list-header">
    <div class="col-3">Name</div>
    <div class="col-3">Equipment Count</div>
    <div class="col-6">Description</div>
    <div class="d-none col-lg-2 d-lg-block"></div>
  </div>
  {% for status in statuses %}
    <div class="row data-row alternate-row align-items-center">
      <div class="col-3 fw-semibold">
        <a href="{% url 'equipment_list' %}?s={{ status.id }}{% if status.name == 'Decommissioned' %}&all=true{% endif %}" title="List all '{{ status.name }}' equipment">{{ status.name }}</a>
      </div>
      <div class="col-3">{{ status.equipment_count }}</div>
      <div class="col-6">{{ status.description|default:"" }}</div>
      <div class="d-none col-lg-2 d-lg-block text-end">
        {% if request.user.is_superuser %}
          <a href="{% url 'status_update' status.id %}" title="Update '{{ status.name }}'"><i class="bi bi-pencil-square"></i></a>
          <a href="{% url 'status_delete' status.id %}" title="Delete '{{ status.name }}'"><i class="bi bi-trash"></i></a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock panel_content %}
