{% extends "partials/object_list.html" %}
{% block page_title %}
  Status Management
{% endblock page_title %}
{% block new_object_url %}
  {% url 'status_create' %}
{% endblock new_object_url %}
{% block panel_heading_start %}
  <i class="bi bi-diamond-half text-muted"></i> Status List
{% endblock panel_heading_start %}
{% block panel_content %}
  <div class="row pb-2 text-muted small fw-bold align-items-center">
    <div class="col">Name</div>
    <div class="col">Description</div>
    <div class="d-none col-lg-2 d-lg-block"></div>
  </div>
  {% for status in statuses %}
    <div class="row align-items-center border-top py-2 {% if forloop.counter0|divisibleby:2 %}bg-light{% else %}bg-white{% endif %}">
      <div class="col text-muted fw-bold">{{ status.name }}</div>
      <div class="col">{{ status.description|default:"" }}</div>
      <div class="d-none col-lg-2 d-lg-block justify-content-between text-end">
        {% if request.user.is_superuser %}
          <a href="{% url 'status_update' status.id %}" title="Update '{{ status.name }}'"><i class="bi bi-pencil-square"></i></a>
          <a href="{% url 'status_delete' status.id %}" title="Delete '{{ status.name }}'"><i class="bi bi-trash"></i></a>
        {% endif %}
        <a href="{% url 'equipment_list' %}?s={{ status.id }}"><i class="bi bi-card-list" title="List all '{{ status.name }}' equipment"></i></a>
      </div>
    </div>
  {% endfor %}
{% endblock panel_content %}
