{% extends "base.html" %}
{% load static %}
{% block page_title %}
  Home
{% endblock page_title %}
{% block content %}
  {% if schedules|length %}
    <div class="panel">
      <div class="panel-heading d-flex justify-content-between">
        <h6 title="Scheduled tasks in the next 2 weeks and are Active.">
          <i class="bi bi-calendar-week text-danger"></i> Scheduled tasks (&lt; 14 days, Active)
        </h6>
        <span class="pe-3">
          <a href="{% url 'schedule_list' %}" title="More..."><i class="bi bi-box-arrow-up-right small"></i> more... </a>
        </span>
      </div>
      <div class="panel-content">{% include "partials/home_schedule_list.html" %}</div>
    </div>
  {% endif %}
  {% if request.user.is_authenticated %}
    {% if under_repair|length %}
      <div class="panel">
        <div class="panel-heading d-flex justify-content-between">
          <h6>
            <i class="bi bi-hammer text-primary"></i> Under Repair
          </h6>
          <span class="pe-3">
            <a href="{% url 'equipment_list' %}?s={{ repair_id }}" title="More..."><i class="bi bi-box-arrow-up-right small"></i> more... </a>
          </span>
        </div>
        <div class="panel-content">{% include "partials/home_equipment_list.html" with equipment_objects=under_repair %}</div>
      </div>
    {% endif %}
    {% if pending_verification|length %}
      <div class="panel">
        <div class="panel-heading d-flex justify-content-between">
          <h6>
            <i class="bi bi-check2-all text-success"></i> Pending Verification/Validation
          </h6>
          <span class="pe-3">
            <a href="{% url 'equipment_list' %}?s={{ verification_id }}" title="More..."><i class="bi bi-box-arrow-up-right small"></i> more... </a>
          </span>
        </div>
        <div class="panel-content">
          {% include "partials/home_equipment_list.html" with equipment_objects=pending_verification %}
        </div>
      </div>
    {% endif %}
    {% if replacement_due|length %}
      <div class="panel">
        <div class="panel-heading d-flex justify-content-between">
          <h6>
            <i class="bi bi-cart4 text-warning"></i> Replacement due &lt; 1 year
          </h6>
          <span class="pe-3">
            <a href="{% url 'equipment_list' %}?rp=true" title="More..."><i class="bi bi-box-arrow-up-right small"></i> more... </a>
          </span>
        </div>
        <div class="panel-content">
          {% include "partials/home_equipment_list_rep.html" with equipment_objects=replacement_due %}
        </div>
      </div>
    {% endif %}
  {% else %}
    <div class="py-5" style="height: 50vh;">
      <div class="text-center">
        You are not logged in. Please <a href="{% url 'login' %}" title="Log in" class="text-danger fw-bold"><i class="bi bi-box-arrow-in-right"></i> log in</a> to access more features.
      </div>
    </div>
  {% endif %}
{% endblock content %}
